<template>
  <div>
    <h1>Your Cart</h1>
    <!-- <div v-for="product in items" :key="product.id">
      {{ product.name}}
    </div> -->
    <CartItemCard v-for="product in products" :key="product.id" :product="product"/>

    <CartSammarayPaymentCard />
  </div>
</template>

<script>
import CartItemCard from "../components/cart/CartItemCard.vue"
import CartSammarayPaymentCard from '../components/cart/CartSammarayPaymentCard.vue'


export default {
  // name : "Cart",
  components: {
    CartItemCard,
    CartSammarayPaymentCard
  },
  computed: {
    products() {
      return this.$store.getters.cartItems
    }
  }
}
</script>
